.layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--background);
}

.main {
    flex: 1;
    margin-left: 280px;
    padding: 2rem;
    max-width: calc(100vw - 280px);
}

@media (max-width: 991px) {
    .main {
        margin-left: 0;
        max-width: 100vw;
    }
}